*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    
    
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style-type: none;
    display: inline-block;
}
button{
    border: none;
}
.container{
    width: 86%;
    margin: auto;
}
.header-1{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}
.header-1 div{
    height: 20px;
}
.header-1 div a{
    height: 100%;
    color:black;
    padding: 0 10px;
    font-size: 14px;
    position: relative;
}
.header-1 a::before,.header-1 a::after{
    content: "";
    width: 2px;
    height: 0;
    background: gray;
    position: absolute;
    transition: 1s;
}
.header-1 a::before{
    left: 0;
    bottom: 0;  
}
.header-1 a::after{
    right: 0;
    top: 0;  
}
.header-1 a:hover::before,.header-1 a:hover::after{
    height: 100%;
}
.i-1:hover i{
    color: red;
    transform: rotateY(180deg);
}
.left-header {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}
.logo a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.header-2{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.header-2 a{
    padding: 10px;
    font-size: 18px;
    color: black;
}
.header-2 a:hover{
    color: red;
}
.header-2 .center-header .link-header{
    position: relative;
}
.header-2 .center-header .link-header::after,.header-2 .center-header .link-header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-color: gray;
    border-style: solid;
    visibility: hidden;
    opacity: 0;
    

}
.header-2 .center-header .link-header::after{
    border-width: 2px 0;
    width: 97%;
    height: 95%;
    transition: 0.6s;
    transform: scale(0,1);
    transform-origin: left;
}
.header-2 .center-header .link-header:hover::after,.header-2 .center-header .link-header:hover::before{
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
}
.header-2 .center-header .link-header::before{
    border-width: 0 2px;
    width: 94%;
    height: 100%;
    transition: 0.3s;
    transform: scale(1,0);
    transform-origin: bottom;
}
.header-2 .pages{
    position: relative;
    z-index: 10;
}
.header-2 .pages .angle{
    padding-left: 5px;
    font-size: 14px;
}
.header-2 .pages .drop-pages{
    width: 280px;
    padding: 15px;
    display: flex;
    background: white;
    justify-content: space-between;
    position: absolute;
    top: 50px;
    left: -100%;
    border-radius: 10px;
    border:1px   solid   black;
    transition: 1s;
    visibility: hidden;
    
    transform: scale(0,0);
    z-index: 5;
}
.header-2 .pages:hover .drop-pages{
    visibility: visible;
    
    transform: scale(1,1);
}
.header-2 .drop-pages li{
    display: block;
    margin:5px 0;
}
.header-2 .drop-pages .first-li{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    font-weight:300;
    border-bottom: 1px solid black;
}
.header-2 .drop-pages li a{
    padding: 0;
}
.header-2 .drop-pages li .link-drop:hover{
    transform: scale(1.1,1.1);
}
.right-header .bag{
    position: relative;
}
.right-header .bag::after{
    content: "2";
    width: 20px;
    height: 20px;
    background: red;
    color: white;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    transition: 0.5s;
    left: 13px;
    top: -3px;
}
.right-header .bag:hover::after{
    top: -6px;
}
.header-3{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}
.header-3 a{
    color: rgb(206, 189, 156);
    height: 25px;
    border-bottom: 2px solid rgb(206, 189, 156);
}
.header-3 a:hover{
    letter-spacing: 2px;
}
.main-parent{
    width: 100%;
    height: 90vh;
    background: url(../images/32.jpg);
    background-size: cover;
    position: relative;
}
.parent-info{
    width: 500px;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 10%;
}
.mane-parent span{
    color: red ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;

}
.main-parent h1{
    padding: 0 10px;
    font-size: 48px;
    color: rgb(0, 0, 0);
}
.main-parent p{
    width: 450px;
    font-size: 18px;
    color: black;
    margin:15px auto 30px;
    padding: 0 20px;
}
.main-parent a{
    background: black;
    color: white;
    font-size: 20px;
    padding: 15px 25px;
    transition: 0.5s;
}
.main-parent a:hover{
    color: black;
    background: white;
    border: 1px solid black;
}
.section-one{
    display: flex;
    justify-content: space-between;
}
 .section-1-parent{
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.section-1-parent > div{
    width: 500px;
    height: 400px;
    margin: 40px 0;
    overflow: hidden;
    position: relative;
   margin-left: 5%;
    
}
.section-1-parent > div::after{
    content: "";
    width: 100%;
    height: 30%;
    
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.section-1-parent div img{
    width: 100%;
    height: 100%;
    transition: 1s;
}
.a-line{
    width: 80px;
    height: 2px;
    background-color: black;
    margin-left: 131px;
    margin-top: 5px;
}
.section-1-parent div:hover img{
    transform: scale(1.1,1.1);
}
.section-1-parent  div .div1-info{
    width: 100%;
    height: 30%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    transform: translateY(45px);
    transition: 1s;
}
.section-1-parent  div:hover .div1-info{
    transform: translateY(0px);

}

.section-1-parent  div .div1-info h2{
    color: black;
    margin: 15px 0 20px;
}
.section-1-parent div .div1-info a{
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding-top: 9px;    
}
.section-1-parent  div .div1-info a:hover{
    letter-spacing: 1px;
}
.section-1-parent  div .div1-info:hover  h2{
    color: rgb(241, 203, 12);
}
.trend-parent{
    margin-top: 70px;
    position: relative;
}

.trend-parent .header-trend{
    min-height: 50px;
    border-bottom: 1px solid rgba(20, 20, 23, 0.439);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.trend-parent .header-trend h2{
    font-size: 35px;
    color:rgb(27, 25, 22);
    font-weight: 500;
}
.trend-parent .header-trend a{
    height: 65px;
    margin-left: 25px;
    color: rgb(31, 29, 26);
    font-size: 20px;
    
}
.trend-parent .header-trend .link-Diamond{
    color: red;
    
}
.Diamond-line{
    width: 105px;
    height: 5px;
    background-color: red;
    position: absolute;
    top: 60px;
    right: 130px;
    display: inline-block;
} 
.trend-parent .trend-parent-2{
    display: flex;
    justify-content: space-between;
}
.trend-parent .trend-parent-2 div{
    width: 24%;
    height: 500px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    perspective: 1000px;
}
.trend-parent .trend-parent-2 div img{
    width: 100%;
    height: 75%;
}
.trend-parent .trend-parent-2 div a{
    padding: 10px 0;
    font-size: 20px;
    color: rgb(19, 19, 23);
}
.trend-parent .trend-parent-2 div:hover a{
    color: red;
}
.trend-parent .trend-parent-2 div p{
    color: rgb(21, 21, 24);
    opacity: 0.8;
    font-size: 18px;
}
.trend-parent .trend-parent-2 div:hover p{
    opacity: 1;
}
.trend-parent .trend-parent-2 div:hover p span{
    opacity: 0.7;
}
.trend-parent .trend-parent-2 div p span{
    text-decoration: line-through;
    margin-left: 10px;
}
.trend-parent .trend-parent-2 div .icon{
    width: 60%;
    height: 10%;
    display: flex;
    position: absolute;
    left: 20%;
    bottom: 30%;
    z-index: 10;
}
.trend-parent .trend-parent-2 div .icon a{
    color: rgb(21, 21, 25);
    width: 100px ;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 28px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
    transition: 1s;
}
.trend-parent .trend-parent-2 div:hover .icon a{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.trend-parent .trend-parent-2 div .icon a:hover{
    background: red;
    color: white;

}
.trend-parent .trend-parent-2 > div::after{
    content: "";
    width: 100%;
    height: 75%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(../images/48.jpg);
    background-size: cover;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition: 1s;
    transform-style: preserve-3d;

}
.trend-parent .trend-parent-2 > div:hover::after{
    transform: rotateY(0deg);
}
.trend-parent > a{
    position: absolute;
    font-size: 30px;
    opacity: 0.7;
    color: rgb(20, 20, 23);
}
.trend-parent > a:hover{
    opacity: 1;
}
.trend-parent .i-left{
    top: 50%;
    left: -25px;
}
.trend-parent .i-right{
    top: 50%;
    right: -25px;
}
.customer-parent{
    width: 100%;
    height: 400px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(249, 255, 254);
    position: relative;
    box-shadow: 1px 1px 2px #00000070,-1px -1px 2px #00000070;
}
.customer-parent > h2{
    font-size: 34px;
    color: rgb(19, 19, 22);
}
.customer-parent > p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(22, 22, 26, 0.439);
}
.customer-parent > div{
    display: flex;
    align-items: center;
}
.customer-parent > div img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.customer-parent .name-customer{
    margin-left: 10px;
}
.customer-parent .name-customer h4{
    color: rgb(22, 22, 26);
    padding-bottom: 5px;
}
.customer-parent .name-customer p{
    color: rgba(19, 19, 23, 0.439);
    font-weight: bold;
}
.customer-parent > a{
    position: absolute;
    font-size: 30px;
    opacity: 0.7;
    color: rgb(19, 19, 23);
}
.customer-parent > a:hover{
    opacity: 1;
}
.customer-parent .left{
    top: 50%;
    left: 10%;
}
.customer-parent .right{
    top: 50%;
    right: 10%;
}
.section-4{
    width: 100%;
    height: 100vh;
    position: relative;
}
.like-tit1{
    text-align: center;
    padding-top: 50px;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.like-parent{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.cat{
    width: 22.5%;
    height: 100%;
    text-align: center;
    position: relative;
}
.cat  img{
    width: 100%;
    height: 70%;
}
.icon-parent{
    width: 60%;
    height: 7%;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 180px;
    left: 50px;
    background-color: white;
    visibility: hidden;
    transition: 0.5s;
    opacity: 0;
}
.cat:hover  .icon-parent{
    visibility: visible;
    position: absolute;
    bottom: 240px;
    transition: 0.5s;
    opacity: 1;
    z-index: 10;
}
.icon-parent  a{
    color: black;
    font-size: 30px;
    transition: 0.5s;
}
.icons{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px  0;
    
}
.icons:hover{
    background-color: red;
    transition: 0.5s;
}
.icons:hover    a{
    color: white;
    transition: 0.5;
}
.cat-like-info  a{
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    padding-top: 20px;
}
.cat:hover  .cat-like-info a{
    color: red;
}
.like-p1{
    padding-top: 20px;
    font-size: 20px;
    color: rgba(22, 22, 22, 0.647);
}
.like-p1  span{
    text-decoration: line-through;
}
.cat:hover  .like-p1{
    color: black;
}
.cat:hover  .like-p1  span{
    color: rgba(22, 22, 22, 0.647);
}
.cat::after{
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: url(../images/42.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0;
    visibility: hidden;
    transition: 1s;
}
.cat:hover::after{
    width: 100%;
    height: 70%;
    opacity: 1;
    visibility: visible;
    transition: 1s;
}
.i-like-left  a  ,.i-like-right   a{
   color: rgb(0, 0, 0);
   font-size: 30px;
   opacity: 0.5;
}
.i-like-left  a   i{
    position: absolute;
    top: 56%;
    left: 40px;
}
.i-like-right  a   i{
    position: absolute;
    top: 56%;
    right: 40px;
}
.i-like-left  a:hover ,.i-like-right  a:hover{
    opacity: 1;
}
.section-5{
    width: 100%;
    height: 100vh;
}
.news-container{
    width: 100%;
    height: 120%;
    background-color: #caf0f86d;
    margin-top: 200px;
    border: 1px   solid   rgb(129, 151, 154);
}
.news-tit1{
    text-align: center;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-top: 20px; 
    font-size: 30px; 
}
.news-parent{
    width: 90%;
    height: 80%;
    
    margin: 50px  auto;
    display: flex;
    justify-content: space-between;
}
.news-cheld{
    width: 30%;
    height: 100%;
    
}
.news-cheld-img{
    width: 100%;
    height: 70%;
}
.news-cheld-img  img{
    width: 100%;
    height: 95%;
    
}
.news-cheld-info-tit1{
    color: rgba(20, 20, 22, 0.502);
    padding-top: 10px;
}
.news-cheld-info-p1{
    color: rgba(20, 20, 22, 0.502);
    font-size: 18px;
}
.news-cheld-info   a{
    color: rgb(23, 23, 27);
    font-size: 22px;
    margin: 15px 0;
}
.read-more{
    text-decoration: underline;
    margin-bottom: 50px;
    transition: 1s;
}
.read-more:hover{
    transform: scale(1.2,1.2);
    transition: 1s;
}
.news-cheld:hover  .news-what{
    color: red;
}
.news-cheld-img  img:hover{
    transform: scale(1.1,1.1);
    
}






.section-6{
    width: 100%;
    height: 40vh;
    margin-top: 110px;
    padding-top: 1px;
}

.fast-parent{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.fast-parent-icon{
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    
}
.fast-parent-icon i{
    font-size: 48px;
    margin-bottom: 30px;
    color: rgba(31, 37, 68, 0.376);
    width: 100%;
    transition: 1s;
}
.fast-parent-icon #icon {
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(23, 29, 55);
    transform: translateY(65px);
    transition: 1s;
}
.fast-parent-child:hover .fast-parent-icon  i{
    transform: translateY(-50px);
    transition: 1s;
}
.fast-parent-child:hover  .fast-parent-icon #icon {
    transform: translateY(0px);
    transition: 1s;
}

.fast-parent-child-info{
    color: rgb(18, 18, 23);
    margin: 10px;
}
.fast-parent-child-p{
    margin: 10px;
    color: rgb(22, 28, 55);
}
.footer{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.93);
}
.footer-parent{
    width: 85%;
    height: 100%;
    margin: auto;
    
    color: white;
}
.footer-header{
    width: 100%;
    height: 20%;
    
    display: flex;
    justify-content: space-between;
}
.footer-header-info{
    width: 35%;
    height: 100%;
    
}
.footer-header-info-tit1{
    font-size: 30px;
    text-transform: capitalize;
    padding: 30px  0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-header-info-p1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-header-email{
    width: 50%;
    height: 100%;
    
}
.footer-header-email  input{
    width: 350px;
    height: 50px;
    margin-top: 40px;
    font-size: 20px;
    padding-left: 15px;
    
    border: none;
}
.footer-header-email  input:focus{
    outline: none;
}
.footer-header-email-btn1{
    width: 150px;
    height: 48px;
    margin-left: 5px;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.17);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.footer-header-email-btn1:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}
.footer-header-icon{
    width: 15%;
    height: 100%;
    
}
.footer-header-icon  i{
    font-size: 30px;
    padding: 50px   5px;
}
.footer-header-icon  a{
    color: rgba(255, 251, 251, 0.305);
    transition: 0.5s;
}
.footer-header-icon  a:hover{
    transform: scale(1.4);
    transition: 0.5s;
}
.footer-header-line{
    width: 100%;
    height: 1px;
    background-color: gray;
    margin-top: 20px;
}
.footer-center{
    width: 100%;
    height: 60%;
    display: flex;
    margin-top: 20px;
}
.footer-center-logo{
    width: 20%;
    height: 100%;
}
.footer-center-info1{
    width: 20%;
    height: 100%;
}
.footer-center-logo   img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0px   0px;
}
.footer-center-logo-tit1{
    font-size: 15px;
   
    margin-top: -40px;
    margin-left: 55px;
}
.footer-center-info1-tit1{
    padding: 10px;
}
.footer-center-info1 a{
    display: block;
    color: rgb(212, 203, 194);
    margin-bottom: 10px;
    transition: 0.5s;
    padding: 10px  ;
}
.footer-center-info1 a:hover{
    text-decoration: underline;
    transform: scalex(1.08);
}
.footer-end{
    width: 100%;
    height: 50px;
    text-align: center;
}
.footer-end-p1  a{
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
}
.footer-end-p1  a:hover{
    letter-spacing: 1px;
    text-decoration: underline;
    transition: 0.5s;
}
.footer-end-p1  span  i{
    animation-name: change;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes   change{
     0%{
        color: black;
        transform: scale(1);
    }
    100%{
        color: red;
        transform: scale(1.5);
    }
}